@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

a {
    transition: all 0.3s ease-in-out;
}

li::marker {
    color: #a755f7;
}
